<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # ==========================
  # REDIRECIONAMENTOS QR CODE
  # ==========================

  # MODELO (copiar e editar)
  # CLIENTE: joao-heleno-da-silva-01-01-1901
  # CODIGO: xxxxxx
  # RewriteRule ^m/CODIGO/?$ https://www.eternizandoo.com/memorial/slug-do-memorial [R=302,L,NE]


  # ==========================
  # TESTES / CORINGAS
  # ==========================

  # CLIENTE: TESTE_#1
  # CODIGO: 000000
  RewriteRule ^m/000000/?$ https://www.eternizandoo.com/memorial/maria [R=302,L,NE]
 
  # CLIENTE: TESTE_#2
  # CODIGO: 888888
  RewriteRule ^m/888888/?$ https://www.eternizandoo.com/memorial/16km [R=302,L,NE]


  # ==========================
  # CLIENTES REAIS
  # ==========================

  # CLIENTE: eternizandoo 
  # CODIGO: akux7c
  RewriteRule ^m/akux7c/?$ https://www.eternizandoo.com [R=302,L,NE]

  # 000000TESTE
  # CLIENTE: maria-jose-dos-santos-17-12-2023
  # CODIGO: y974hd
  RewriteRule ^m/7r26gz/?$ https://www.eternizandoo.com/memorial/maria-jose-dos-santos-17-12-2023 [R=302,L,NE]
  
  # 000000
  # CLIENTE: maria-jose-dos-santos-17-12-2023
  # CODIGO: y974hd
  RewriteRule ^m/y974hd/?$ https://www.eternizandoo.com/memorial/maria-jose-dos-santos-17-12-2023 [R=302,L,NE]
  
  # 000001
  # CLIENTE: jose-martins
  # CODIGO: 623pm5
  RewriteRule ^m/623pm5/?$ https://www.eternizandoo.com/memorial/jose-martins-24-12-2008 [R=302,L,NE]
  
  # 000002
  # CLIENTE: manoel-raimundo-januario
  # CODIGO: fv4ffc
  RewriteRule ^m/fv4ffc/?$ https://www.eternizandoo.com/memorial/manoel-raimundo-januario-08-03-2026 [R=302,L,NE]

  # 000007
  # CLIENTE: manoel-raimundo-januario
  # CODIGO: qvnu4b
  RewriteRule ^m/qvnu4b/?$ https://www.eternizandoo.com/memorial/manoel-raimundo-januario-08-03-2026 [R=302,L,NE]


  # ==========================
  # FALLBACK DO SITE (SPA)
  # ==========================

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . /index.html [L]
</IfModule>