<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirecionamento específico
  RewriteRule ^m/22tqtb/?$ https://www.eternizandoo.com [R=302,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . /index.html [L]
</IfModule>

RewriteRule ^\.builds - [F,L]